<h1>forgot password page</h1>

<form action="/users/forget_password" method="POST">
    <input type="email" name="email" placeholder="your email">
    <input type="submit" value="Submit">
</form>

<a href="/users/signin">Log In</a>