<link rel="stylesheet" href="/css/signin.css" ) />

<div class="container" id="container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <form action="/users/forget_password" method="POST">
        <input type="email" name="email" placeholder="your email" />
        <button>Send Mail</button>
      </form>
    </div>
  </div>
</div>
