<link rel="stylesheet" type="text/css" href="/css/notes.css">
<div id="heading">
    <h1>notes page</h1>
    <h1 id="note_name"><%=locals.filename%></h1>
</div>
<div id="display_notes">
    <embed src="http://localhost:8000/uploads/notes/<%=locals.filename%>" width="400px" height="400px"/>
</div>


<button id="like_button">like</button>
<p id="likes"></p>
<p id="views"></p>
<input type="text" id="add_comment_to_note">
<input type="submit" id="add_comment_note_btn" value="add comment">
<div id="comments_section">

</div>

<script src="/js/notes.js"></script>