<link rel="stylesheet" type="text/css" href="/css/notes.css">
<div id="heading">
    <h1>notes page</h1>
    <h1 id="note_name"><%=locals.filename%></h1>
</div>
<div id="display_notes">
    <embed src="http://localhost:8000/uploads/notes/<%=locals.filename%>" width="400px" height="400px"/>
</div>
<button id="like_button">like</button>
<p id="likes"></p>
<script src="/js/notes.js"></script>