<link rel="stylesheet" type="text/css" href="/css/profile.css">
<div id="heading">
    <h1>profile page</h1>
</div>
<a href="/users/upload_notes_page">Upload Notes</a>
<a href="/users/logout">logout</a>
<a href="/users/verify_mobile">Verify mobile</a>
<button id="btn">Get Notes</button>
<div id="notes_view">
    
</div>
<script src="/js/profile.js"></script>
