<h1>sign up page</h1>

<form action="/users/create" method="POST">
    <input type="name" name="name" placeholder="your name">
    <input type="email" name="email" placeholder="your email">
    <input type="password" name="password" placeholder="your password">
    <input type="password" name="confirm_password" placeholder="Confirm password">
    <input type="submit" value="Sign Up">
</form>

<a href="/users/auth/google">google signup</a>