<h1>update password page</h1>

<form action="/users/update_password" method="POST">
    <input type="password" name="password" placeholder="your password">
    <input type="password" name="confirm_password" placeholder="confirm your password">
    <input type="text" name="accessToken" value="" id="accessTokenInput">
    <input type="submit" value="Submit">
</form>

<script src="/js/update_password.js"></script>