<h1>verify mobile</h1>

<form>
    <input id="mobileNumber" type="text" name="mobile" placeholder="your mobile number">
    <button id="sendOtpButton">send otp</button>
    <input type="number" name="otp" id="otp" placeholder="enter your otp">
    <button id="verify">verify</button>
</form>

<a href="/users/auth/google">google signin</a>

<script src="/js/verify_mobile.js"></script>
